nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav__logo {
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
  }

  .nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .link a {
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
  }
  
  .link a:hover {
    color: var(--primary-color);
  }
}
