nav {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 20px;  

  h1 {
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
    font-size: 2em;
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    
    li {
      padding: 8px; 
      
      a {
        color: #202020;
        text-decoration: none;  
      }
    }
  }
}
