/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.5);
  z-index: -1;
}

header {
  background-image: url(./assets/cover_img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
  color: #202020;
  height: 80vh;
}

